COOKIE_DOMAIN=localhost

JWT_SECRET=sUPerSecRET
JWT_ACCESS_TOKEN_TTL=2h
JWT_REFRESH_TOKEN_TTL=7d

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/database?schema=public"
NODE_ENV="dev"

FRONTEND_URL=https://example.com